<main class="page-settings">
    <aside class="settings-side">
<!--        <a href="/src/pages/messenger/template.hbs">-->
<!--            <svg alt="Возврат назад" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path d="M23.8388 6.16117C22.0907 4.41301 19.8634 3.2225 17.4386 2.74018C15.0139 2.25787 12.5005 2.50541 10.2165 3.45151C7.93238 4.3976 5.98015 5.99976 4.60663 8.05537C3.23311 10.111 2.5 12.5277 2.5 15C2.5 17.4723 3.23311 19.889 4.60663 21.9446C5.98015 24.0002 7.93238 25.6024 10.2165 26.5485C12.5005 27.4946 15.0139 27.7421 17.4386 27.2598C19.8634 26.7775 22.0907 25.587 23.8388 23.8388" stroke="#48F08E" stroke-width="2"/>-->
<!--                <path d="M11.25 15L10.4691 15.6247L9.96938 15L10.4691 14.3753L11.25 15ZM26.25 14C26.8023 14 27.25 14.4477 27.25 15C27.25 15.5523 26.8023 16 26.25 16V14ZM15.4691 21.8747L10.4691 15.6247L12.0309 14.3753L17.0309 20.6253L15.4691 21.8747ZM10.4691 14.3753L15.4691 8.12531L17.0309 9.37469L12.0309 15.6247L10.4691 14.3753ZM11.25 14L26.25 14V16L11.25 16V14Z" fill="#48F08E"/>-->
<!--            </svg>-->

<!--        </a>-->
        {{{Button className="btn-back"
                  text="назад" onClick=onMessenger
        }}}
    </aside>
    <section class="settings">

        <label for="avatar">
            <svg  class="settings__img"  alt="Аватар пользователя" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="65" cy="65" r="65" fill="#929292"/>
                <ellipse cx="75.4167" cy="52.5" rx="4.16667" ry="4.16667" fill="#333333"/>
                <path d="M54.6269 60.1026L51.2874 62.8855C48.8103 64.9497 47.5717 65.9819 46.9109 67.3929C46.25 68.8039 46.25 70.4161 46.25 73.6406V77.6667C46.25 79.5523 46.25 80.4951 46.8358 81.0809C47.4216 81.6667 48.3644 81.6667 50.25 81.6667H77.6667C79.5523 81.6667 80.4951 81.6667 81.0809 81.0809C81.6667 80.4951 81.6667 79.5523 81.6667 77.6667V74.5637C81.6667 72.9287 81.6667 72.1112 81.3622 71.3761C81.0577 70.641 80.4796 70.063 79.3235 68.9068L76.1618 65.7451C74.8284 64.4118 74.1618 63.7451 73.3333 63.7451C72.5049 63.7451 71.8382 64.4117 70.5049 65.7451L67.0888 69.1612C66.1424 70.1076 65.6692 70.5808 65.1482 70.4804C64.6272 70.3801 64.3636 69.765 63.8363 68.5348L60.8642 61.5998L60.8642 61.5998C59.8959 59.3403 59.4117 58.2106 58.4356 57.9763C57.4596 57.742 56.5153 58.5289 54.6269 60.1026Z" fill="#333333"/>
            </svg>

        </label>
        <input type="file" name="avatar" id="avatar">

        <h1 class="settings__name-title">{{user.firstName}} {{user.secondName}}</h1>
        <section class="settings__form-wrap">

            <form action="" method="post" class="settings__form-data">

                <div class="text-field">
                    <label class="text-field__label" for="first_name">Имя: {{user.firstName}}</label>
                    <div class="text-field__error"></div>

                    {{{Input  name="first_name"
                              id="first_name"
                              type="text"
                              class="text-field__input"
                              onFocus=onFocus1
                              onBlur=onBlur1
                    }}}
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="second_name">Фамилия: {{user.lastName}}</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="second_name"
                              id="second_name"
                              type="text"
                              class="text-field__input"
                              onFocus=onFocus1
                              onBlur=onBlur1
                    }}}
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="display_name">Отображаемое имя: {{user.displayName}}</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="display_name"
                              id="display_name"
                              type="text"
                              class="text-field__input"
                              onFocus=onFocus1
                              onBlur=onBlur1
                    }}}
                </div>

                <div class="text-field">
                    <label class="text-field__label" for="login">Логин: {{user.login}}</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="login"
                              id="login"
                              type="text"
                              class="text-field__input"
                              onFocus=onFocus1
                              onBlur=onBlur1
                    }}}
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="email">Почта: {{user.email}}</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="email"
                              id="email"
                              type="email"
                              class="text-field__input"
                              onFocus=onFocus1
                              onBlur=onBlur1
                    }}}
                </div>

                <div class="text-field">
                    <label class="text-field__label" for="phone">Телефон: {{user.phone}}</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="phone"
                              id="phone"
                              type="tel"
                              class="text-field__input"
                              onFocus=onFocus1
                              onBlur=onBlur1
                    }}}
                </div>
                {{{Button onClick=editProfile
                        text="Сохранить данные"
                }}}
            </form>

            <form  class="settings__form settings__form-pass" action="" method="post">

                <div class="text-field">
                    <label class="text-field__label" for="oldPassword">Текущий пароль</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="oldPassword"
                              id="oldPassword"
                              type="password"
                              class="text-field__input"
                              onFocus=onFocus2
                              onBlur=onBlur2
                    }}}
                </div>

                <div class="text-field">
                    <label class="text-field__label" for="password">Новый пароль</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="password"
                              id="password"
                              type="password"
                              class="text-field__input"
                              onFocus=onFocus2
                              onBlur=onBlur2
                    }}}
                </div>

                <div class="text-field">
                    <label class="text-field__label" for="newPassword">Повторите ещё раз</label>
                    <div class="text-field__error"></div>
                    {{{Input  name="newPassword"
                              id="newPassword"
                              type="password"
                              class="text-field__input"
                              onFocus=onFocus2
                              onBlur=onBlur2
                    }}}
                </div>
                {{{Button onClick=editPassword
                        text="Обновить пароль"
                }}}
            </form>
            {{{Button className="btn-exit"
            text="Выйти" onClick=onLogout
            }}}

        </section>
    </section>
</main>

