<main class="messenger-wrapper">
    <aside class="dialogs-list">
        <div class="dialogs-list__my-name">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"  alt="Аватар пользователя">
                <path d="M24.6593 25.5589C24.0895 23.9641 22.8341 22.5549 21.0876 21.5499C19.3412 20.5448 17.2013 20 15 20C12.7987 20 10.6588 20.5448 8.91239 21.5498C7.16595 22.5549 5.91049 23.9641 5.34074 25.5589" stroke="#48F08E" stroke-width="2" stroke-linecap="round"/>
                <circle cx="15" cy="10" r="5" stroke="#48F08E" stroke-width="2" stroke-linecap="round"/>
            </svg>

            <h1>{{store.state.user.firstName}} {{store.state.user.secondName}}</h1>
            <!--ссылка перезагружает приложение. e.preventDefault() не срабатывает        -->
            {{{Button className="messenger_btn-settings"
                    text="Настройки" onClick=onSettings
            }}}

<!--            <a href="/src/pages/settings/template.hbs">-->
<!--                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Настройки">-->
<!--                    <path d="M3.58169 16.9445C3.05298 15.9941 2.78862 15.5188 2.78862 15C2.78862 14.4812 3.05298 14.0059 3.58169 13.0555L5.53867 9.5375L7.60685 6.0837C8.1656 5.1506 8.44498 4.68406 8.89431 4.42464C9.34364 4.16521 9.88737 4.15654 10.9748 4.1392L15 4.075L19.0252 4.1392C20.1126 4.15654 20.6564 4.16521 21.1057 4.42463C21.555 4.68406 21.8344 5.1506 22.3931 6.0837L24.4613 9.5375L26.4183 13.0555C26.947 14.0059 27.2114 14.4812 27.2114 15C27.2114 15.5188 26.947 15.9941 26.4183 16.9445L24.4613 20.4625L22.3931 23.9163C21.8344 24.8494 21.555 25.3159 21.1057 25.5754C20.6564 25.8348 20.1126 25.8435 19.0252 25.8608L15 25.925L10.9748 25.8608C9.88737 25.8435 9.34364 25.8348 8.89431 25.5754C8.44498 25.3159 8.1656 24.8494 7.60685 23.9163L5.53867 20.4625L3.58169 16.9445Z" stroke="white" stroke-width="2"/>-->
<!--                    <circle cx="15" cy="15" r="3.75" stroke="white" stroke-width="2"/>-->
<!--                </svg>-->

<!--            </a>-->
        </div>

            <form class="dialogs-search">
                <button class="dialogs-search__btn" type="submit"></button>
                <input class="dialogs-search__input" type="text" placeholder="Поиск">
            </form>

        <ul class="dialogs-chat-wrapper">
            <li class="dialogs-chat">
                <div class="dialogs-chat__avatar">
                    <svg alt="Аватар собеседника" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="65" cy="65" r="65" fill="#929292"/>
                        <ellipse cx="75.4167" cy="52.5" rx="4.16667" ry="4.16667" fill="#333333"/>
                        <path d="M54.6269 60.1026L51.2874 62.8855C48.8103 64.9497 47.5717 65.9819 46.9109 67.3929C46.25 68.8039 46.25 70.4161 46.25 73.6406V77.6667C46.25 79.5523 46.25 80.4951 46.8358 81.0809C47.4216 81.6667 48.3644 81.6667 50.25 81.6667H77.6667C79.5523 81.6667 80.4951 81.6667 81.0809 81.0809C81.6667 80.4951 81.6667 79.5523 81.6667 77.6667V74.5637C81.6667 72.9287 81.6667 72.1112 81.3622 71.3761C81.0577 70.641 80.4796 70.063 79.3235 68.9068L76.1618 65.7451C74.8284 64.4118 74.1618 63.7451 73.3333 63.7451C72.5049 63.7451 71.8382 64.4117 70.5049 65.7451L67.0888 69.1612C66.1424 70.1076 65.6692 70.5808 65.1482 70.4804C64.6272 70.3801 64.3636 69.765 63.8363 68.5348L60.8642 61.5998L60.8642 61.5998C59.8959 59.3403 59.4117 58.2106 58.4356 57.9763C57.4596 57.742 56.5153 58.5289 54.6269 60.1026Z" fill="#333333"/>
                    </svg>

                </div>
                <div class="dialogs-chat__text">
                    <h3 class="dialogs-chat__text-name">Андрей</h3>
                    <span class="dialogs-chat__text-preview">Друзья, у меня для вас особенный выпуск</span>
                </div>
                <div class="dialogs-chat__info">
                    <span class="dialogs-chat__info-time">10:49</span>
                    <span class="dialogs-chat__info-count">2</span>
                </div>
            </li>
            {{#each store.state.chats}}
                {{{ChatItem}}}

                <li class="dialogs-chat" data-id="{{{this.id}}}">
                    <div class="dialogs-chat__avatar">
                        <svg alt="Аватар собеседника" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="65" cy="65" r="65" fill="#929292"/>
                            <ellipse cx="75.4167" cy="52.5" rx="4.16667" ry="4.16667" fill="#333333"/>
                            <path d="M54.6269 60.1026L51.2874 62.8855C48.8103 64.9497 47.5717 65.9819 46.9109 67.3929C46.25 68.8039 46.25 70.4161 46.25 73.6406V77.6667C46.25 79.5523 46.25 80.4951 46.8358 81.0809C47.4216 81.6667 48.3644 81.6667 50.25 81.6667H77.6667C79.5523 81.6667 80.4951 81.6667 81.0809 81.0809C81.6667 80.4951 81.6667 79.5523 81.6667 77.6667V74.5637C81.6667 72.9287 81.6667 72.1112 81.3622 71.3761C81.0577 70.641 80.4796 70.063 79.3235 68.9068L76.1618 65.7451C74.8284 64.4118 74.1618 63.7451 73.3333 63.7451C72.5049 63.7451 71.8382 64.4117 70.5049 65.7451L67.0888 69.1612C66.1424 70.1076 65.6692 70.5808 65.1482 70.4804C64.6272 70.3801 64.3636 69.765 63.8363 68.5348L60.8642 61.5998L60.8642 61.5998C59.8959 59.3403 59.4117 58.2106 58.4356 57.9763C57.4596 57.742 56.5153 58.5289 54.6269 60.1026Z" fill="#333333"/>
                        </svg>

                    </div>
                    <div class="dialogs-chat__text">
                        <h3 class="dialogs-chat__text-name"> {{{this.title}}}</h3>
                        <span class="dialogs-chat__text-preview">{{{this.last_message.content}}}</span>
                    </div>
                    <div class="dialogs-chat__info">
                        <span class="dialogs-chat__info-count">{{{this.unread_count}}}</span>
                    </div>
                </li>
            {{/each}}
        </ul>

    </aside>

    <section  class="dialog">
        <div class="dialog_date">19 июня</div>
        <div class="chat">
            <div class="chat_item">Привет</div>
            <div class="chat_item chat_item__my-message">Как дела</div>

        </div>
        <div class="chat__input">
            <div class="chat__input-error"></div>

            {{{textArea  placeholder="Введите текст сообщения" name="message"
                     class="message-area" id="message-area"
                     onFocus=onFocus
                     onBlur=onBlur}}}

            <svg class="chat__input-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.95577 23.0442C7.64566 24.7341 9.7987 25.8849 12.1426 26.3511C14.4866 26.8174 16.9161 26.5781 19.1241 25.6635C21.332 24.7489 23.2192 23.2002 24.5469 21.2131C25.8746 19.226 26.5833 16.8898 26.5833 14.5C26.5833 12.1101 25.8746 9.77391 24.5469 7.78682C23.2192 5.79973 21.332 4.25097 19.1241 3.33642C16.9161 2.42186 14.4866 2.18257 12.1426 2.6488C9.7987 3.11504 7.64566 4.26587 5.95577 5.95575" stroke="white" stroke-width="2"/>
                <path d="M18.125 14.5L18.9059 13.8753L19.4056 14.5L18.9059 15.1247L18.125 14.5ZM3.625 15.5C3.07271 15.5 2.625 15.0523 2.625 14.5C2.625 13.9478 3.07271 13.5 3.625 13.5V15.5ZM14.0725 7.83368L18.9059 13.8753L17.3441 15.1247L12.5108 9.08307L14.0725 7.83368ZM18.9059 15.1247L14.0725 21.1664L12.5108 19.917L17.3441 13.8753L18.9059 15.1247ZM18.125 15.5H3.625V13.5H18.125V15.5Z" fill="white"/>
            </svg>
        </div>
    </section>
</main>


