<li class="dialogs-chat" data-id="{{{id}}}">
    <div class="dialogs-chat__avatar">

        <img onerror="this.style.display='none'" alt="Аватар чата" src="https://ya-praktikum.tech/api/v2/resources/{{{img}}}">

    </div>
    <div class="dialogs-chat__text">
        <h3 class="dialogs-chat__text-name"> {{{title}}}</h3>
        <span class="dialogs-chat__text-preview">{{{last_message}}}</span>
    </div>
    <div class="dialogs-chat__info">
        <span class="dialogs-chat__info-count">{{{unread_count}}}</span>
    </div>
</li>

